{{ define "main" }}
<div class="event-single">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <div class="event-info">
      <div class="event-info-item">
        <span>Datum</span>
        {{ .Date | time.Format ":date_long" }}
      </div>
      {{ with .Params.location }}
      <div class="event-info-item">
        <span>Ort</span>
        {{ . }}
      </div>
      {{ end }}
    </div>
    <div class="post-body">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
